@model IEnumerable<WebApplicationProject27July.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDurationYrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDurationYrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ClientId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ClientId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ClientId })
            </td>
        </tr>
}
    </tbody>
</table>
